<p-toast></p-toast>
<!-- Breadcrumb -->
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">
    <img src="./assets/images/icons/home.svg" alt="" class="ml-2">
    {{translationData.electronic_council.shared.main | translate}}
  </a>
  <a class="breadcrumb-item" href="#">
    {{translationData.electronic_council.shared.serviceGuide | translate}}
  </a>
  <span class="breadcrumb-item active">
    {{translationData.electronic_council.shared.electronic_council | translate}}

  </span>
</nav>

<form [formGroup]="orderForm" class="fs-13px">
  <div class="page-wrapper">
    <div class="row mx-0">
      <!-- user side menu -->
      <div class="col-md-3 col-12">
        <app-user-sidemenu></app-user-sidemenu>
      </div>
      <!-- user page content -->
      <div class="col-md-9 col-12">
        <!-- page title -->
        <div class="page-title">
          <h4>
            {{translationData.electronic_council.shared.title | translate}}
            -
            {{translationData.electronic_council.shared.serviceType | translate}}
          </h4>
        </div>
        <!-- form card -->
        <div class="form-card">
          <div class="form-header">
            <h5>
              {{translationData.electronic_council.shared.applicantsInfo | translate}}
            </h5>
          </div>
          <div class="form-content">
            <div class="row mx-0">
              <div class="info-col col-md-4 col-12">
                <span class="form-lbl lbl-33">{{translationData.electronic_council.shared.applicantsName | translate}}</span>
                <span class="form-val">{{userModel?.Name}}</span>
              </div>
              <div class="info-col col-md-4 col-12 separator-af-be">
                <span class="form-lbl lbl-33">{{translationData.electronic_council.shared.birthDate | translate}}</span>
                <span class="form-val">{{userModel?.BirthDate | date:'dd/MM/yyyy'}}</span>
              </div>
              <div class="info-col col-md-4 col-12">
                <span class="form-lbl lbl-33">{{translationData.electronic_council.shared.gender | translate}}</span>
                <span class="form-val">ذكر</span>
              </div>
              <div class="info-col col-md-4 col-12">
                <span class="form-lbl lbl-33">{{translationData.electronic_council.shared.e_mail | translate}}</span>
                <span class="form-val">{{userModel?.Email}}</span>
              </div>
              <div class="info-col col-md-4 col-12 separator-af-be">
                <span class="form-lbl lbl-33">{{translationData.electronic_council.shared.nationalId | translate}}</span>
                <span class="form-val">{{userModel?.UserName}}</span>
              </div>
              <div class="info-col col-md-4 col-12">
                <span class="form-lbl lbl-33">{{translationData.electronic_council.shared.phoneNumber | translate}}</span>
                <span class="form-val">{{userModel?.PhoneNumber}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-0">

          <div class="col-md-5 col-12 pr-0">
            <!-- form card -->
            <div class="form-card h-95">
              <div class="form-header">
                <h5>{{translationData.electronic_council.createRequest.rquestInfo | translate}}</h5>
              </div>
              <div class="form-content">

                <div class="form-group">
                  <label for="" class="form-lbl lbl-33">
                    {{translationData.electronic_council.shared.rquestType | translate}}
                  </label>
                  <select class="form-control" name="" id="" formControlName="type">
                    <option value="1" selected>طلب</option>
                    <option value="2">اقتراح</option>
                    <option value="3">شكوى</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="" class="form-lbl lbl-33">
                    {{translationData.electronic_council.shared.requestAddress | translate}}
                  </label>
                  <input type="text" name="" id="" class="form-control" formControlName="header">
                </div>
                <div class="form-group">
                  <label for="" class="form-lbl lbl-33">
                    {{translationData.electronic_council.shared.description | translate}}
                  </label>
                  <textarea rows="4" name="" id="" class="form-control" formControlName="content"></textarea>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-7 col-12 pl-0">
            <!-- form card -->
            <div class="form-card h-95">
              <div class="form-header">
                <h5>
                  {{translationData.electronic_council.createRequest.attachments | translate}}
                </h5>
              </div>
              <div class="form-content">

                <div class="px-3">
                  <button class="btn btn-sm btn-primary" (click)="addAttachment()">
                    {{translationData.electronic_council.createRequest.addAttachment | translate}}
                  </button>
                </div>

                <div formArrayName="attahments" *ngFor="let attachment of attahments.controls; let i = index">

                  <div class="row mx-0 mt-3 pt-3 mx-3 repeated-row">
                    <div class="form-group col-sm-11 form-inline">
                      <label for="" class="form-lbl lbl-33">اسم المرفق</label>
                      <input type="text" name="" id="" class="form-control" [formControlName]="i">
                    </div>

                    <div class="form-group col-sm-11">
                      <p-fileUpload name="demo[]" #inputFile chooseLabel="تحميل مرفق" [auto]="true" (onSelect)="upload($event.currentFiles)" (onRemove)="remove($event.file)" [multiple]=true [fileLimit]=1 mode="advanced" [maxFileSize]=5242880 accept="image/*,.pdf,.doc">
                      </p-fileUpload>
                    </div>

                    <div class="col-sm-1 d-flex align-items-center">
                      <button class="btn btn-danger btn-sm" type="button" (click)="removeAttachments(i)">
                        <i class="fa fa-close"></i>
                      </button>
                    </div>

                  </div>
                </div>


                <!-- <div class="form-group col-md-12">
                  <label for="" class="form-lbl lbl-33">اسم المرفق</label>
                  <input type="text" name="" id="" class="form-control" formControlName="attachmentName" >
                </div>

                <div class="form-group col-md-12">
                  <p-fileUpload name="demo[]" #inputFile  chooseLabel="تحميل مرفق"
                  [auto]="true"
                   (onSelect)="upload($event.currentFiles)" (onRemove)="remove($event.file)"
                   [multiple]=true  [fileLimit]=5  mode="advanced" [maxFileSize] = 5242880 accept="image/*,.pdf,.doc" >
                 </p-fileUpload>
              </div> -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- form actions -->
    <div class="form-actions">
      <button type="submit" class="btn btn-save" (click)="formSubmit()" [disabled]="orderForm.status == 'INVALID'">
        {{translationData.electronic_council.createRequest.sendRequest | translate}}
      </button>
      <button type="submit" class="btn btn-draft" (click)="saveAsDraft()">
        {{translationData.electronic_council.createRequest.saveAsDraft | translate}}
      </button>
      <button type="submit" class="btn btn-cancel" (click)="cancel()">
        {{translationData.electronic_council.createRequest.cancel | translate}}
      </button>
    </div>
  </div>
</form>
