<p-toast></p-toast>

<div class="auth-card">
  <div class="auth-head">
    <div class="flex_row">
      <a href="#">
        <img src="assets/images/logo.svg" alt="" class="log-logo" width="180" />
      </a>
      <!--<p-button
        pRipple
        label="ع"
        *ngIf="currentLang == 'en'"
        (click)="onChangeLang()"
      ></p-button>
      <p-button
        pRipple
        label="en"
        *ngIf="currentLang == 'ar'"
        (click)="onChangeLang()"
      ></p-button>-->
    </div>
  </div>

  <div class="w-100">
    <h4 class="title">
      {{ "forgetPassword.labels.forgetPassword" | translate }}
    </h4>

    <!-- Form -->
    <div class="row mx-0">
      <div class="col-md-8 mx-auto">
        <form [formGroup]="forgetPasswordForm" class="fs-13px">
          <!-- ID -->
          <div class="forgetPassword" *ngIf="stage == 1">
            <div class="form-group mb-lg-4">
              <input
                type="text"
                name=""
                id="userName"
                class="form-control"
                formControlName="userName"
                [(ngModel)]="userName"
                required
              />

              <label for="userName" class="label">
                ادخل اسم المستخدم او البريد الالكتروني<!--{{ placeHolderText }}-->
              </label>
            </div>

            <div class="row">
              <div class="col-6" style="text-align: center">
                <button
                  type="submit"
                  class="btn btn-primary submit"
                  (click)="forgetPassword()"
                  [disabled]="forgetPasswordForm.status == 'INVALID'"
                >
                  {{ "forgetPassword.labels.send" | translate }}
                </button>
              </div>
            </div>
          </div>

          <div class="validateOTP" *ngIf="stage == 2">
            <div class="form-group mb-lg-4">
              <input
                type="text"
                name=""
                id="userName"
                class="form-control"
                formControlName="userName"
                [(ngModel)]="otp"
                required
              />

              <label for="userName" class="label">
                ادخل رمز التحقق
              </label>
            </div>

            <span class="text-success" style="padding: 10px; margin-top: 10px">
              {{ "forgetPassword.messages.sentConfirmOTP" | translate }}
            </span>

            <div class="row">
              <div class="col-6" style="text-align: center">
                <button
                  type="submit"
                  class="btn btn-primary submit"
                  (click)="validateOTP()"
                  [disabled]="forgetPasswordForm.status == 'INVALID'"
                >
                  {{ 'forgetPassword.labels.send' | translate }}
                </button>
              </div>
              <div class="col-6">
                <button
                  type="submit"
                  class="btn btn-primary submit"
                  (click)="forgetPassword()"
                >
                  {{ 'forgetPassword.labels.resendOTP' | translate }}
                </button>
              </div>
            </div>
          </div>

          <div class="setNewPassword" *ngIf="stage == 3">
            <div class="form-group mb-lg-4">
              <input
                type="password"
                name="password"
                id="password"
                [(ngModel)]="newPassword"
                class="form-control"
                formControlName="userName"
                required
              />
              <label for="password" class="label">
                <!--{{ 'login.labels.password' | translate }}-->
                أدخل كلمة السر الجديدة
              </label>
            </div>

            <div class="row">
              <div class="col-6" style="text-align: center">
                <button
                  type="submit"
                  class="btn btn-primary submit"
                  (click)="resetPassword()"
                  [disabled]="forgetPasswordForm.status == 'INVALID'"
                >
                  {{ 'forgetPassword.labels.send' | translate }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
