<p-toast></p-toast>

<div class="auth-card">
  <div class="auth-head">
    <div class="flex_row">
      <a href="#">
        <img src="assets/images/logo.svg" alt="" class="log-logo" width="180">
      </a>
      <button class="btn btn-sm btn-primary lang-btn">English</button>
    </div>
  </div>

  <div class="w-100">
    <h4 class="title">
      Forget Password Page
      <!--{{translationData.auth.signIn.signIn | translate}}-->
    </h4>

    <!-- Form -->
    <div class="row mx-0">
      <div class="col-md-8 mx-auto">

        <!--(ngSubmit)="formSubmit()"-->
        <!--[formGroup]="loginForm"-->
        <form [formGroup]="forgetPasswordForm"  class="fs-13px">
              <!-- ID -->
              <div class="form-group mb-lg-4">
                <input type="text" name="" id="userName" class="form-control" formControlName="userName" placeholder= "{{placeHolderText}}" [(ngModel)]="inputText">
                <!--<label for="national_ID" class="label">
                  {{translationData.auth.signIn.nationalIdOrResidentNumber | translate}}
                </label>-->
              </div>

              <span class="text-success" *ngIf="state == 2" style="padding: 10px;margin-top: 10px;">
                تم إرسال الرمز التاكيدي . برجاء التاكد من بريدك الالكتروني
              </span>

              <!-- Login Button -->
              <div class="row">
                <div class="col-6" style="text-align: center;">
                <button type="submit" class="btn btn-primary submit" (click)="btnClick()"  [disabled]="forgetPasswordForm.status == 'INVALID'">
                  إرسال
                </button>
              </div>

              <div class="col-6" *ngIf="state == 2">

                <button type="submit" class="btn btn-primary submit" (click)="btnClick(1)" >
                  إعادة إرسال الكود
                </button>
              </div>

              </div>
        </form>

    </div>

  </div>
</div>

