<div class="side-card">
  <div class="d-flex justify-content-start align-items-center user">
    <img src="./assets/images/user-img.svg" alt="" class="user-img">
    <div>
      <span class="d-block name">{{userModel?.Name}}</span>
      <span class="d-block mail">{{userModel?.Email}}</span>
      <span class="d-block phone">{{userModel?.PhoneNumber}}</span>
    </div>
  </div>
  <ul class="prof-menu">
    <li>
      <a routerLink="/e-council/profile" routerLinkActive="active" class="link">
        <img src="./assets/images/icons/profile.svg" alt="">
        الملف الشخصي
      </a>

    </li>

    <li>
      <a routerLink="/e-council/dashboard" routerLinkActive="active" class="link">
        <img src="./assets/images/icons/prof-dash.svg" alt="">
        لوحة المتابعة
      </a>
    </li>
    <li *ngIf="userModel.IsAdmin">
      <a routerLink="/e-council/incoming-orders" routerLinkActive="active" class="link">
        <img src="./assets/images/icons/prof-dash.svg" alt="">
        الطلبات الواردة
      </a>
    </li>

    <li *ngIf="!userModel.IsAdmin">
      <a routerLink="/e-council/create" routerLinkActive="active" class="link">
        <img src="./assets/images/icons/new-order.svg" alt="">
        طلب جديد
      </a>
    </li>
    <li *ngIf="userModel.IsAdmin">
      <a routerLink="/e-council/inquiry" routerLinkActive="active" class="link">
        <img src="./assets/images/icons/prof-search.svg" alt="">
        استعلام عن طلب
      </a>
    </li>
    <li *ngIf="!userModel.IsAdmin">
      <a routerLink="/e-council/my-orders" routerLinkActive="active" class="link">
        <img src="./assets/images/icons/prof-orders.svg" alt="">
        طلباتي
      </a>
    </li>
    <li *ngIf="!userModel.IsAdmin">
      <a routerLink="/e-council/saved" routerLinkActive="active" class="link">
        <img src="./assets/images/icons/prof-saved.svg" alt="">
        طلبات محفوظة
      </a>
    </li>
    <li *ngIf="!userModel.IsAdmin">
    <!--<a routerLink="/e-council/rate" routerLinkActive="active" class="link">
            <img src="./assets/images/icons/prof-rate.svg" alt="">
            تقييم خدمة
     </a>-->

      <a (click)="showRateServiceModal = true" routerLinkActive="active" class="link">
        <img src="./assets/images/icons/prof-rate.svg" alt="">
        تقييم خدمة
      </a>
    </li>
  </ul>
</div>


<p-dialog  [(visible)]="showRateServiceModal" [closeOnEscape]=false [style]="{width: '50vw'}" (onHide)="close($event)">
  <app-rate-service (OnClose)="closeModal()" (OnSubmit)="submitModal($event)"></app-rate-service>
</p-dialog>
