<!-- begin::Footer -->
<footer class="footer pt-100 pb-100">
  <div class="row mx-0 pl-100 pr-100">
    <div class="col-md-4 col-12 col-one">
      <h5 class="title">ما رأيك في التصميم الجديد للبوابة الإلكترونية ؟</h5>
      <div>
        <label class="custom-radio">
          ممتاز
          <input type="radio" name="vote" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-radio">
          جيد جدا
          <input type="radio" name="vote" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-radio">
          جيد
          <input type="radio" name="vote" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-radio">
          مقبول
          <input type="radio" name="vote" />
          <span class="checkmark"></span>
        </label>
        <button type="submit" class="btn vote-btn">تصويت</button>
      </div>
      <h5 class="title">الإشتراك في النشرة البريدية</h5>
      <div class="form-group">
        <span class="icon">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
        <input type="text" class="form-control" placeholder="البريد الإلكتروني">
        <button type="submit" class="btn btn-subs">
          إشتراك
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="col-md-5 col-12 col-two">
      <div class="row mx-0">
        <div class="col-md-6">
          <h5 class="title">منصات وبرامج ذات صلة</h5>
          <div class="platforms">
            <div>
              <a href="#">ناجز</a>
            </div>
            <div>
              <a href="#">إنماء</a>
            </div>
            <div>
              <a href="#">أبشر</a>
            </div>
            <div>
              <a href="#">المنصة الوطنية الموحدة</a>
            </div>
            <div>
              <a href="#">أمانة منطقة الرياض</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h5 class="title">روابط سريعة</h5>
          <div class="platforms">
            <div>
              <a href="#">نبذة عن الإمارة</a>
            </div>
            <div>
              <a href="#">وظائف شاغرة</a>
            </div>
            <div>
              <a href="#">الخدمات الإلكترونية</a>
            </div>
            <div>
              <a href="#">أخبار المحافظات</a>
            </div>
            <div>
              <a href="#">التقارير الإعلامية</a>
            </div>
            <div>
              <a href="#">البيانات الفتوحة</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 col-three">
      <h5 class="title">إتصل بنا</h5>
      <div class="platforms">
        <div>
          <a href="#">موقعنا</a>
        </div>
        <div>
          <a href="#">اتصل بنا</a>
        </div>
      </div>
      <div class="contact">
        <div>
          <img src="./assets/images/icons/phone.svg" alt="">
          <a href="#">
            +202 270 571 50
          </a>
        </div>
        <div>
          <img src="./assets/images/icons/phone.svg" alt="">
          <a href="#">
            +202 270 571 50
          </a>
        </div>
        <div>
          <img src="./assets/images/icons/mail.svg" alt="">
          <a href="#">
            Hello@moi.gov.sa
          </a>
        </div>
        <div>
          <img src="./assets/images/icons/mail.svg" alt="">
          <a href="#">
            support@riyadh.gov.sa
          </a>
        </div>
      </div>
      <div class="social">
        <a href="">
          <img src="./assets/images/icons/youtube.svg" alt="">
        </a>
        <a href="">
          <img src="./assets/images/icons/rss.svg" alt="">
        </a>
        <a href="">
          <img src="./assets/images/icons/twitter.svg" alt="">
        </a>
        <a href="">
          <img src="./assets/images/icons/mobile-app.svg" alt="">
        </a>
        <a href="">
          <img src="./assets/images/icons/map.svg" alt="">
        </a>
        <a href="">
          <img src="./assets/images/icons/star.svg" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="row mx-0 pt-3">
    <div class="col-md-10 mx-auto">
      <hr>
    </div>
  </div>
  <div class="row mx-0 py-3 pl-100 pr-100">
    <div class="col-md-11 mx-auto">
      <div class="row mx-0">
        <div class="col-md-3">
          <img src="./assets/images/icons/ssl.svg" alt="">
          <img src="./assets/images/icons/css3.svg" alt="">
          <img src="./assets/images/icons/html5.svg" alt="">
          <img src="./assets/images/icons/w3c.svg" alt="">
        </div>
        <div class="col-md-5">
          <span class="mx-3">هذا الموقع يدعم متصفحات</span>
          <img src="./assets/images/icons/browsers.svg" alt="">
        </div>
        <div class="col-md-4">
          <img src="./assets/images/icons/refresh.svg" alt="" class="mx-1">
          <span class="mx-1">آخر تحديت للموقع فى</span>
          <span class="mx-1">19/08/1443</span>
          <span class="mx-1">02:12 </span>
          <span class="">م </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-0 py-3 bottom-nav pl-100 pr-100">
    <div class="col-md-11 mx-auto">
      <div class="row mx-0">
        <div class="col-md-6">
          <img src="./assets/images/logo-opacity.svg" alt="" class="ml-opacity">
          <a href="#">سياسة الخصوصية</a>
          <a href="#">شروط الإستخدام</a>
          <a href="#">إتفاقية مستوى الخدمة</a>
        </div>
        <div class="col-md-6">
          <span>جميع الحقوق محفوظة</span>
          <span>&nbsp; &copy; &nbsp;</span>
          <span> لإمارة منطقة الرياض - المملكة العربية السعودية </span>
          <img src="./assets/images/vision-opacity.svg" alt="" class="mr-opacity">
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- end::Footer -->