/*file: styling website pages for Electonic Services of Riyad Emirate*/
/*By: Mohamed Salem*/
/*Creation Date: 2022*/

// Authentication Module
.auth-wrapper {
  height: 100%;
  padding: 0;
  background-color: $white;
  .vision-logo {
    position: absolute;
    left: 3%;
    top: 3%;
  }
  .auth-card {
    padding: 40px 10px 10px;
    text-align: center;
    .title {
      font-weight: 600;
      margin: 30px;
    }
    .lang-btn {
      font-size: 12px;
    }
    .forget-pass {
      font-size: 12px;
      text-align: left;
      display: block;
      margin-top: 11px;
      font-weight: 500;
    }
    .form-group {
      position: relative;
    }
    .label {
      transition: 0.3s all ease-in-out;
      position: absolute;
      right: 12px;
      top: 14px;
      font-size: 11px;
    }
    input {
      height: calc(2em + 0.75rem + 2px);
      color: $dark;
      background: $light-lighter;
      &:not(:invalid) {
        + {
          label {
            transition: 0.3s all ease-in-out;
            position: absolute;
            right: 6px;
            top: -9px;
            padding: 0px 8px;
            color: $text-color;
            font-size: 10px;
          }
        }
      }
      &:focus {
        box-shadow: none;
        + {
          label {
            transition: 0.3s all ease-in-out;
            position: absolute;
            right: 6px;
            top: -9px;
            padding: 0px 8px;
            color: $text-color;
            background-color: $white;
            font-size: 10px;
          }
        }
      }
    }
    .submit {
      display: block;
      max-width: 100%;
      width: 85%;
      font-size: 13px;
      font-weight: 600;
      height: 46px;
      margin: 30px auto 0;
    }
    .unifyied-login {
      display: flex;
      justify-content: start;
      align-items: center;
      box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
      border-radius: 10px;
      padding: 10px;
      margin-top: 40px;
      span {
        font-size: 14px;
        display: inline-block;
        width: 45%;
      }
    }
    .or {
      margin: 26px auto 0;
      border-bottom: 1px solid $light-dark;
      span {
        display: inline-block;
        position: relative;
        top: 9px;
        background: $white;
        padding: 0 10px;
      }
    }
  }
}

// Header Component
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background-color: $white;
  .header-img {
    img {
      width: 400px;
    }
  }
}

.header {
  background-color: $Primary-1;
  height: 50px;
  .navbar {
    padding: 0;
    height: 50px;
    .navbar-collapse {
      width: 100%;
      .navbar-nav {
        padding-right: 100px;
        .nav-link {
          color: $white;
          line-height: 34px;
          font-size: 0.9rem;
          font-weight: 400;
          padding-right: 1.5rem;
          padding-left: 1.5rem;
          &:hover {
            color: #fff;
            background: $Primary-2;
          }
          .ic-home {
            width: 30px;
            position: relative;
            top: -2px;
          }
          .ic-open-data {
            width: 24px;
            margin-left: 6px;
          }
          .ic-search,
          .ic-settings {
            width: 24px;
          }
        }
      }
      .head-vision {
        margin-left: 100px;
        margin-right: auto;
        img {
          width: 70px;
        }
      }
    }
  }
}
