//Colors
$Primary-1: #00624d;
$Primary-2: #009780;
$Primary-3: #006200;
$Primary-4: #28924f;

$primary-alt-1: #223b48;
$primary-alt-2: #004e59;
$primary-alt-3: #007889;

$secondary-1: #cca53b;
$secondary-2: #ffba00;
$secondary-3: #6e5924;

$success: #01cc9b;
$danger: #ca1414;
$active: #186dce;
$highlight: #e8e8e8;

$primary-hover: #1e582e;
$Secondary-hover: #a18822;
$success-hover: #00ad85;
$danger-hover: #ba0e0e;

$light: #eff2f2;
$light-lighter: #fafbff;
$light-dark: #c1c7d0;
$dimmed: #c1c1c1;
$gray: #a7c3af;
$text-color: #565656;
$dark: #000000;
$white: #fff;

// shadows
$card-shad-1: 0 23px 88px rgba(#b0b7c3, 0.14);
$card-shad-2: 0 33px 124px rgba(#b0b7c3, 0.24);
$card-shad-3: 0 43px 130px rgba(#b0b7c3, 0.19);
$card-shad-4: 0 50px 154px rgba(#b0b7c3, 0.22);

// Font
$en-font: "OpenSans";
$ar-font: "Almarai";
$font-light: 300;
$font-semi-bold: 600;
$font-normal: normal;
$font-bold: bold;
$font-extra-bold: 800;
