<p-toast></p-toast>
<!-- Breadcrumb -->
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">
    <img src="./assets/images/icons/home.svg" alt="" class="ml-2" />
    الرئيسية
  </a>
  <a class="breadcrumb-item" href="#"> دليل الخدمات</a>
  <span class="breadcrumb-item active">المجلس الإلكتروني</span>
</nav>
<div class="page-wrapper">
  <div class="row mx-0">
    <!-- user side menu -->
    <div class="col-md-3 col-12">
      <app-user-sidemenu></app-user-sidemenu>
    </div>
    <!-- user page content -->
    <div class="col-md-9 col-12">
      <!-- page title -->
      <div class="page-title">
        <h4>الطلبات الوراده</h4>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            (click)="onNewTabClick(newRequest)"
          >
            الطلبات الجديدة
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" (click)="onPendingTabClick(pendingRequest)">
            طلبات تحت الاجراء
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" (click)="onAcceptTabClick(acceptRequest)">
            طلبات تم الموافقة
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            (click)="onRejectedTabClick(rejectedRequest)"
          >
            الطلبات تم الاعتذار
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          role="tabpanel"
          aria-labelledby="new-tab"
        >
          <p-table
            [value]="requests"
            [loading]="loading"
            [paginator]="true"
            [rows]="10"
            [(first)]="first"
            [showCurrentPageReport]="true"
            responsiveLayout="scroll"
            currentPageReportTemplate="ظهور {first} إلي {last} من {totalRecords} إدخالات"
            [rowsPerPageOptions]="[10, 25, 30]"
            sortMode="multiple"
            [multiSortMeta]="multiSortMeta"
            [globalFilterFields]="[
              'Header',
              'RequestTypeAr',
              'statusMsgAr',
              'creationDate'
            ]"
          >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="Header">
                  عنوان الطلب <p-sortIcon field="Header"></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="Header"
                    display="menu"
                  ></p-columnFilter>
                </th>
                <th pSortableColumn="content">
                  اسم مقدم الطلب <p-sortIcon field="content"></p-sortIcon>
                </th>
                <th pSortableColumn="RequestTypeAr">
                  نوع الطلب <p-sortIcon field="RequestTypeAr"></p-sortIcon>
                  <p-columnFilter
                    field="RequestTypeAr"
                    matchMode="equals"
                    display="menu"
                  >
                    <ng-template
                      pTemplate="filter"
                      let-value
                      let-filter="filterCallback"
                    >
                      <p-dropdown
                        [ngModel]="value"
                        [options]="types"
                        (onChange)="filter($event.value)"
                        placeholder="Any"
                      >
                        <ng-template let-option pTemplate="item">
                          <span
                            [class]="'customer-badge status-' + option.value"
                            >{{ option.label }}</span
                          >
                        </ng-template>
                      </p-dropdown>
                    </ng-template>
                  </p-columnFilter>
                </th>
                <th pSortableColumn="SerialNumber">
                  رقم الطلب <p-sortIcon field="SerialNumber"></p-sortIcon>
                </th>
                <th pSortableColumn="StatusMsgAr">
                  الحالة <p-sortIcon field="statusMsgAr"></p-sortIcon>
                </th>
                <th pSortableColumn="CreationDate">
                  تاريخ الطلب <p-sortIcon field="creationDate"></p-sortIcon>
                </th>
                <th>التفاصيل</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-request>
              <tr>
                <td>{{ request.Header }}</td>
                <td>{{ request.User.Name }}</td>
                <td>{{ request.RequestTypeAr }}</td>
                <td>{{ request.SerialNumber }}</td>
                <td>
                  <div
                    [class]="getStatusColor(request.RequestStatusId)"
                    role="alert"
                  >
                    <strong>{{ request.StatusMsgAr }}</strong>
                  </div>
                </td>
                <td>{{ request.CreationDate | date: "dd/MM/yyyy" }}</td>
                <td>
                  <i
                    class="fa fa-exclamation-circle"
                    aria-hidden="true"
                    (click)="showDialog(request)"
                  ></i>
                  <i
                    class="fa-solid fa-circle-check"
                    (click)="updateRequestStatus(request, 4)"
                  ></i>
                  <i
                    class="fa-solid fa-xmark"
                    (click)="showConfirmDialog(request)"
                  ></i>
                </td>
              </tr>
            </ng-template>

            <!--<ng-template pTemplate="paginatorright">
            <button type="button" pButton icon="pi-cloud-upload"></button>
          </ng-template>-->
            <ng-template let-item pTemplate="paginatordropdownitem">
              {{ item.value }} - per page
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <!--<p-dialog header="Title" [(visible)]="display">
      <app-order-status-details [seletedOrder]="selectedOrder"></app-order-status-details>
    </p-dialog>-->

    <p-dialog header="Title" [(visible)]="display">
      <ng-template pTemplate="header"> </ng-template>
      <textarea [(ngModel)]="messageReason"></textarea>

      <!--<input type="text" [(ngModel)]="messageReason" required [ngModelOptions]="{standalone: true}">-->
      <ng-template pTemplate="footer">
        <button
          type="submit"
          [disabled]="messageReason == ''"
          (click)="updateRequestStatus(selectedOrder, 3)"
        >
          تأكيد
        </button>
        <button>الغاء</button>
      </ng-template>
    </p-dialog>
  </div>
</div>
