<!-- Breadcrumb -->
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">
    <img src="./assets/images/icons/home.svg" alt="" class="ml-2">
    الرئيسية
  </a>
  <a class="breadcrumb-item" href="#"> دليل الخدمات</a>
  <span class="breadcrumb-item active">المجلس الإلكتروني</span>
</nav>

<div class="page-wrapper">
  <div class="row mx-0">
    <!-- user side menu -->
    <div class="col-md-3 col-12">
      <app-user-sidemenu></app-user-sidemenu>
    </div>
    <!-- user page content -->
    <div class="col-md-9 col-12">
      <!-- page title -->
      <div class="page-title">
        <h4>الملف الشخصي</h4>
      </div>
    </div>
  </div>

</div>