<div class="pt-4">
  <!-- Poster, Flyer -->
  <div class="row mx-0 section-padding">
    <div class="col-md-12 mb-4">
      <ng-template carouselSlide *ngFor="let poster of posters">
        <img [src]="poster?.image?.base64File" alt="" class="w-100 slider" />
      </ng-template>
    </div>
  </div>

  <!-- News -->
  <div class="row mx-0 section-padding">
    <div class="col-md-6 news">
      <div class="owl-carousel owl-theme">
        <!-- Repeatable Item -->
        <div class="item" *ngFor="let news of latestNews">
          <div class="news-card">
            <img [src]="news?.image?.base64File" alt="" class="news-img" />
            <img
              src="./assets/images/news-overlay.png"
              alt=""
              class="overlay"
            />
            <div class="news-caption">
              <h6 class="h2">
                {{ news?.titleAr }}
              </h6>
              <span class="date">
                <img
                  src="./assets/images/icons/date-white.svg"
                  class="date-icon"
                  alt=""
                />
                <span class="date-desc">{{ formatDate(news?.date) }}</span>
              </span>
            </div>
          </div>
        </div>
        <!-- Repeatable Item -->
      </div>
    </div>

    <!-- Navigation Links & Related Websites -->
    <div class="col-md-6">
      <!-- Navigation Links -->
      <div class="row mx-0">
        <div class="col-md-6 nav-card">
          <a (click)="navigateTo()">
            <img
              src="./assets/images/icons/electronic-council-icon.svg"
              alt=""
              class="d-block mx-auto"
            />
            <div class="desc">
              <h6>{{ "home.electronicCouncil" | translate }}</h6>
              <span>{{ "home.electronicCouncilTitle" | translate }}</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 nav-card">
          <a routerLink="/e-council/dashboard">
            <img
              src="./assets/images/icons/search-service.svg"
              alt=""
              class="d-block mx-auto"
            />
            <div class="desc">
              <h6>{{ "home.inquireyService" | translate }}</h6>
              <span>{{ "home.inquireyServiceTitle" | translate }}</span>
            </div>
          </a>
        </div>
      </div>
      <!-- Related Websites -->
      <div class="related-web">
        <div class="section-title">
          <h3 class="title">{{ "home.relatedplatforms" | translate }}</h3>
        </div>
        <div class="rel-web">
          <a href="#"
            ><img
              src="./assets/images/icons/gov.svg"
              alt=""
              class="rel-web-logos"
          /></a>
          <a href="#"
            ><img
              src="./assets/images/icons/absher.svg"
              alt=""
              class="rel-web-logos"
          /></a>
          <a href="#"
            ><img
              src="./assets/images/icons/najiz.svg"
              alt=""
              class="rel-web-logos"
          /></a>
          <a href="#"
            ><img
              src="./assets/images/icons/riyadh-amanat.svg"
              alt=""
              class="rel-web-logos"
          /></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Services Section -->
  <div class="row mx-0 section-padding">
    <div class="col-md-12 my-5 e-services">
      <div class="section-title">
        <h3 class="title">{{ "home.electronicServices" | translate }}</h3>
        <div class="more">
          <a href="#">
            {{ "home.browseAllServices" | translate }}
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <div class="owl-carousel owl-theme">
        <!-- Repeatable Item -->
        <div class="item" *ngFor="let service of services">
          <a [href]="service?.requestLink">
            <img
              *ngIf="service.image"
              [src]="service?.image?.base64File"
              [alt]="service.titleAr"
              class="ser-icon"
            />
            <p class="ser-name h-2">{{ service.titleAr }}</p>
            <p class="ser-desc h-2">{{ service.descriptionAr }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- News & Reports -->
  <div class="news-reports">
    <div class="row mx-0 my-5 section-padding">
      <!-- Gov News -->
      <div class="col-md-6 offset-md-1 gov-news">
        <div class="section-title">
          <h3 class="title">{{ "home.provincialNews" | translate }}</h3>
          <div class="more">
            <a href="#">
              {{ "home.browseAllNews" | translate }}
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <!-- news cards -->
        <div class="owl-carousel owl-theme">
          <!-- Repeatable Item -->
          <div class="item" *ngFor="let news of emiratesNews">
            <div class="card">
              <img
                [src]="news?.image?.base64File"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title h-2">{{ news?.titleAr }}</h5>
                <p class="card-text">
                  <img src="./assets/images/icons/order-date.svg" alt="" />
                  {{ formatDate(news?.date) }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Advertising Reports -->
      <div class="col-md-5 advertise-report">
        <div class="section-title">
          <h3 class="title">تقارير إعلانية</h3>
        </div>
        <!-- cards -->
        <div class="owl-carousel owl-theme">
          <!-- Repeatable Item -->
          <div class="item" *ngFor="let report of reports">
            <div class="ad-card">
              <img
                [src]="report?.image?.base64File"
                alt=""
                class="ad-card-img"
              />
              <img
                src="./assets/images/add-overlay.png"
                alt=""
                class="overlay"
              />
              <div class="ad-card-content">
                <span class="desc">
                  {{ report?.titleAr }}
                </span>
                <span class="ad-calendar">
                  <img src="./assets/images/icons/add-calendar.svg" alt="" />
                  <span> {{ getHijriDate(report?.date) }}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Important Numbers -->
  <div class="row mx-0 section-padding">
    <div class="col-md-12 my-5">
      <img src="./assets/images/home/Group 18093.svg" alt="" class="w-100" />
    </div>
  </div>
</div>
