<div class="pt-4">

  <!-- Poster, Flyer -->
  <div class="row mx-0 section-padding">
    <div class="col-md-12 mb-4">
      <img src="./assets/images/home/Group 18079.svg" alt="" class="w-100">
    </div>
  </div>

  <!-- News -->
  <div class="row mx-0 section-padding">
    <div class="col-md-6 news">
      <div class="owl-carousel owl-theme">
        <!-- Repeatable Item -->
        <div class="item">
          <div class="news-card">
            <img src="./assets/images/news-poster.png" alt="" class="news-img">
            <img src="./assets/images/news-overlay.png" alt="" class="overlay">
            <div class="news-caption">
              <h6 class="h2">وزير الداخلية السعودي: التحديات الأمنية تتطلب جهوداً خليجية مشتركة لمواجهتها خلال اجتماع وزراء
                الداخلية بدول مجلس التعاون الثامن والثلاثين
              </h6>
              <span class="date">
                <img src="./assets/images/icons/date-white.svg" class="date-icon" alt="">
                <span class="date-desc">الأحد - 9 شهر ربيع الثاني 1443 هـ - 14 نوفمبر 2021 م</span>
              </span>
            </div>
          </div>
        </div>
        <!-- Repeatable Item -->
        <div class="item">
          <div class="news-card">
            <img src="./assets/images/news-poster.png" alt="" class="news-img">
            <img src="./assets/images/news-overlay.png" alt="" class="overlay">
            <div class="news-caption">
              <h6 class="h2">وزير الداخلية السعودي: التحديات الأمنية تتطلب جهوداً خليجية مشتركة لمواجهتها خلال اجتماع وزراء
                الداخلية بدول مجلس التعاون الثامن والثلاثين
              </h6>
              <span class="date">
                <img src="./assets/images/icons/date-white.svg" class="date-icon" alt="">
                <span class="date-desc">الأحد - 9 شهر ربيع الثاني 1443 هـ - 14 نوفمبر 2021 م</span>
              </span>
            </div>
          </div>
        </div>
        <!-- Repeatable Item -->
        <div class="item">
          <div class="news-card">
            <img src="./assets/images/news-poster.png" alt="" class="news-img">
            <img src="./assets/images/news-overlay.png" alt="" class="overlay">
            <div class="news-caption">
              <h6 class="h2">وزير الداخلية السعودي: التحديات الأمنية تتطلب جهوداً خليجية مشتركة لمواجهتها خلال اجتماع وزراء
                الداخلية بدول مجلس التعاون الثامن والثلاثين
              </h6>
              <span class="date">
                <img src="./assets/images/icons/date-white.svg" class="date-icon" alt="">
                <span class="date-desc">الأحد - 9 شهر ربيع الثاني 1443 هـ - 14 نوفمبر 2021 م</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation Links & Related Websites -->
    <div class="col-md-6">
      <!-- Navigation Links -->
      <div class="row mx-0">
        <div class="col-md-6 nav-card">
          <a (click)="navigateTo()">
            <img src="./assets/images/icons/electronic-council-icon.svg" alt="" class="d-block mx-auto">
            <div class="desc">
              <h6>المجلس الإلكتروني</h6>
              <span>تقديم شكوي أو مقترح أو متابعة طلب لسمو أمير منطقة الرياض</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 nav-card">
          <a routerLink="/e-council/dashboard">
            <img src="./assets/images/icons/search-service.svg" alt="" class="d-block mx-auto">
            <div class="desc">
              <h6>استعلام عن خدمة أو معاملة</h6>
              <span>استعلام عن خدمة برقم المعاملة أو رقم الطلب</span>
            </div>
          </a>
        </div>
      </div>
      <!-- Related Websites -->
      <div class="related-web">
        <div class="section-title">
          <h3 class="title">منصات ذات صلة</h3>
        </div>
        <div class="rel-web">
          <a href="#"><img src="./assets/images/icons/gov.svg" alt="" class="rel-web-logos"></a>
          <a href="#"><img src="./assets/images/icons/absher.svg" alt="" class="rel-web-logos"></a>
          <a href="#"><img src="./assets/images/icons/najiz.svg" alt="" class="rel-web-logos"></a>
          <a href="#"><img src="./assets/images/icons/riyadh-amanat.svg" alt="" class="rel-web-logos"></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Services Section -->
  <div class="row mx-0 section-padding">
    <div class="col-md-12 my-5 e-services">
      <div class="section-title">
        <h3 class="title">الخدمات الإلكترونية</h3>
        <div class="more">
          <a href="#">
            تصفح جميع الخدمات
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <div class="owl-carousel owl-theme">
        <!-- Repeatable Item -->
        <div class="item">
          <a href="#">
            <img src="./assets/images/icons/services/prisoner.svg" alt="" class="ser-icon">
            <p class="ser-name h-2">خروج مؤقت لسجين للعلاج والتنويم</p>
            <p class="ser-desc h-2">
              تٌتيح لك الخدمات الإلكترونية إمكانية التقدم بطلب لإمارة منطقة الرياض وذلك في الزمان والمكان
            </p>
          </a>
        </div>
        <!-- Repeatable Item -->
        <div class="item">
          <a href="#">
            <img src="./assets/images/icons/services/couple.svg" alt="" class="ser-icon">
            <p class="ser-name h-2">زواج السعودي بغير سعودية مقيمة خارج المملكة</p>
            <p class="ser-desc h-2">
              تٌتيح لك الخدمات الإلكترونية إمكانية التقدم بطلب لإمارة منطقة الرياض وذلك في الزمان والمكان
            </p>
          </a>
        </div>
        <!-- Repeatable Item -->
        <div class="item">
          <a href="#">
            <img src="./assets/images/icons/services/magnifying-glass.svg" alt="" class="ser-icon">
            <p class="ser-name h-2">بلاغ عن التعديات على الأراضي الحكومية</p>
            <p class="ser-desc h-2">
              تٌتيح لك الخدمات الإلكترونية إمكانية التقدم بطلب لإمارة منطقة الرياض وذلك في الزمان والمكان
            </p>
          </a>
        </div>
        <!-- Repeatable Item -->
        <div class="item">
          <a href="#">
            <img src="./assets/images/icons/services/contract.svg" alt="" class="ser-icon">
            <p class="ser-name h-2">طلب علاج إدمان</p>
            <p class="ser-desc h-2">
              تٌتيح لك الخدمات الإلكترونية إمكانية التقدم بطلب لإمارة منطقة الرياض وذلك في الزمان والمكان
            </p>
          </a>
        </div>
        <!-- Repeatable Item -->
        <div class="item">
          <a href="#">
            <img src="./assets/images/icons/services/prisoner.svg" alt="" class="ser-icon">
            <p class="ser-name h-2">خروج مؤقت لسجين للعلاج والتنويم</p>
            <p class="ser-desc h-2">
              تٌتيح لك الخدمات الإلكترونية إمكانية التقدم بطلب لإمارة منطقة الرياض وذلك في الزمان والمكان
            </p>
          </a>
        </div>
      </div>

    </div>
  </div>

  <!-- News & Reports -->
  <div class="news-reports">
    <div class="row mx-0 my-5 section-padding">
      <!-- Gov News -->
      <div class="col-md-6 offset-md-1 gov-news">
        <div class="section-title">
          <h3 class="title">أخبار المحافظات</h3>
          <div class="more">
            <a href="#">
              تصفح جميع الأخبار
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <!-- news cards -->
        <div class="owl-carousel owl-theme">
          <!-- Repeatable Item -->
          <div class="item">
            <div class="card">
              <img src="./assets/images/gov-news1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title h-2">وزير الداخلية السعودي يتفقد مركز العمليات الأمنية الموحد بمكة</h5>
                <p class="card-text">
                  <img src="./assets/images/icons/order-date.svg" alt="">
                  الأحد - 9 شهر ربيع الثاني 1443 هـ - 14 نوفمبر 2021 م
                </p>
              </div>
            </div>
          </div>
          <!-- Repeatable Item -->
          <div class="item">
            <div class="card">
              <img src="./assets/images/gov-news2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title h-2">وزير الداخلية السعودي يتفقد مركز العمليات الأمنية الموحد بمكة</h5>
                <p class="card-text">
                  <img src="./assets/images/icons/order-date.svg" alt="">
                  الأحد - 9 شهر ربيع الثاني 1443 هـ - 14 نوفمبر 2021 م
                </p>
              </div>
            </div>
          </div>
          <!-- Repeatable Item -->
          <div class="item">
            <div class="card">
              <img src="./assets/images/gov-news1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title h-2">وزير الداخلية السعودي يتفقد مركز العمليات الأمنية الموحد بمكة</h5>
                <p class="card-text">
                  <img src="./assets/images/icons/order-date.svg" alt="">
                  الأحد - 9 شهر ربيع الثاني 1443 هـ - 14 نوفمبر 2021 م
                </p>
              </div>
            </div>
          </div>
          <!-- Repeatable Item -->
          <div class="item">
            <div class="card">
              <img src="./assets/images/gov-news2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title h-2">وزير الداخلية السعودي يتفقد مركز العمليات الأمنية الموحد بمكة</h5>
                <p class="card-text">
                  <img src="./assets/images/icons/order-date.svg" alt="">
                  الأحد - 9 شهر ربيع الثاني 1443 هـ - 14 نوفمبر 2021 م
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Advertising Reports -->
      <div class="col-md-5 advertise-report">
        <div class="section-title">
          <h3 class="title">تقارير إعلانية</h3>
        </div>
        <!-- cards -->
        <div class="owl-carousel owl-theme">
          <!-- Repeatable Item -->
          <div class="item">
            <div class="ad-card">
              <img src="./assets/images/add-report.png" alt="" class="ad-card-img">
              <img src="./assets/images/add-overlay.png" alt="" class="overlay">
              <div class="ad-card-content">
                <span class="desc">
                  تدابير إضافية في مواجهة كورونا.. تعليق العمل 16 يومًا في الجهات الحكومية
                </span>
                <span class="ad-calendar">
                  <img src="./assets/images/icons/add-calendar.svg" alt="">
                  <span>17 شعبان 1443</span>
                </span>
              </div>
            </div>
          </div>
          <!-- Repeatable Item -->
          <div class="item">
            <div class="ad-card">
              <img src="./assets/images/add-report.png" alt="" class="ad-card-img">
              <img src="./assets/images/add-overlay.png" alt="" class="overlay">
              <div class="ad-card-content">
                <span class="desc">
                  تدابير إضافية في مواجهة كورونا.. تعليق العمل 16 يومًا في الجهات الحكومية
                </span>
                <span class="ad-calendar">
                  <img src="./assets/images/icons/add-calendar.svg" alt="">
                  <span>17 شعبان 1443</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Important Numbers -->
  <div class="row mx-0 section-padding">
    <div class="col-md-12 my-5">
      <img src="./assets/images/home/Group 18093.svg" alt="" class="w-100">
    </div>
  </div>

</div>