<div class="row mx-0">
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">الاسم</span>
    <span class="form-val">{{ userDataDto?.nameAr }}</span>
  </div>
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">رقم الهوية</span>
    <span class="form-val">{{ userDataDto?.nationalId }}</span>
  </div>

  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">الجنس</span>
    <span class="form-val">{{ userDataDto?.genderName }}</span>
  </div>
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">تاريخ الميلاد</span>
    <span class="form-val">{{ userDataDto?.birthDate  | date:'yyyy-MM-dd'}}</span>
  </div>
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">رقم الجوال</span>
    <span class="form-val">{{ userDataDto?.phoneNumber }}</span>
  </div>

  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">الجنسية</span>
    <span class="form-val">{{ userDataDto?.nationalityName }}</span>
  </div>
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">المحافظة</span>
    <span class="form-val">{{ userDataDto?.governorateName }}</span>
  </div>
  <div class="info-col col-md-4 col-12">
    <span class="form-lbl lbl-33">البريد الالكتروني</span>
    <span class="form-val">{{ userDataDto?.email }}</span>
  </div>
</div>
