<p-toast></p-toast>

<!-- Breadcrumb -->
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">
    <img src="./assets/images/icons/home.svg" alt="" class="ml-2">
    الرئيسية
  </a>
  <a class="breadcrumb-item" href="#"> دليل الخدمات</a>
  <span class="breadcrumb-item active">المجلس الإلكتروني</span>
</nav>

<div class="page-wrapper">
  <div class="row mx-0">
    <!-- user side menu -->
    <div class="col-md-3 col-12">
      <app-user-sidemenu></app-user-sidemenu>
    </div>
    <!-- user page content -->
    <div class="col-md-9 col-12">
      <!-- page title -->
      <div class="page-title">
        <h4>طلباتى</h4>
      </div>

      <p-table [value]="requests" sortMode="multiple" [multiSortMeta]="multiSortMeta">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="creationDate">تاريخ الطلب <p-sortIcon field="creationDate"></p-sortIcon>
            </th>
            <th pSortableColumn="SerialNumber">رقم الطلب <p-sortIcon field="SerialNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="requestTypeAr">نوع الطلب <p-sortIcon field="requestTypeAr"></p-sortIcon>
            </th>
            <th pSortableColumn="header">عنوان الطلب <p-sortIcon field="header"></p-sortIcon>
            </th>
            <th pSortableColumn="content">الوصف <p-sortIcon field="content"></p-sortIcon>
            </th>
            <th pSortableColumn="statusMsgAr">الحالة <p-sortIcon field="statusMsgAr"></p-sortIcon>
            </th>
            <th>التفاصيل </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-request>
          <tr>
            <td>tt</td>
            <td>dd</td>
            <td>ee</td>
            <td>rr</td>
            <td>ff</td>
            <td>tt</td>
            <td>
              <button type="button" (click)="showDialog(request)" icon="pi pi-info-circle" label="Show"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>


<p-dialog header="Title" [(visible)]="display">
  <app-order-status-details [seletedOrder]="selectedOrder"></app-order-status-details>
</p-dialog>