<div class="top-bar">
  <div>
    <a [routerLink]="['/']">
      <img src="./assets/images/logo.svg" alt="" width="180">
    </a>
  </div>
  <div class="header-img">
    <img src="./assets/images/header-img.svg" alt="">
  </div>
  <div>
    <span class="date">الخميس، 23 ربيع أول 1443 هـ، 22 مايو 2022</span>
    <div class="dropdown topnav-user" *ngIf="isAuthenticate">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="./assets/images/user-img.svg" alt="">
        {{ 'header.hello' | translate }} <span>{{userModel?.Name}}</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <a routerLink="/e-council/profile" class="dropdown-item">
          <i class="fa fa-user"></i>
          {{ 'header.profilePersonly' | translate }}
        </a>
        <a class="dropdown-item" (click)="logout()">
          <i class="fa fa-arrow-right-from-bracket"></i>
          {{ 'header.signOut' | translate }}
        </a>
      </div>
</div>
<div class="dropdown topnav-user" *ngIf="!isAuthenticate">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="./assets/images/user-img.svg" alt="">
    {{ 'header.signIn' | translate }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <a routerLink="/e-council/profile" class="dropdown-item" [routerLink]="['/auth/login']">
      <!--<i class="fa fa-user"></i>-->
      {{ 'header.signIn' | translate }}
    </a>
    <a class="dropdown-item" [routerLink]="['/auth/register']">
      <!--<i class="fa fa-arrow-right-from-bracket"></i>-->
      {{ 'header.newRegistration' | translate }}
    </a>
  </div>
</div>
<span (click)="onChangeLang()">
  <p-button
    pRipple
    label="ع"
    *ngIf="currentLang == 'en'"
  ></p-button>
  <p-button
    pRipple
    label="en"
    *ngIf="currentLang == 'ar'"
  ></p-button>
</span>
    </div>

</div>

<header class="header" id="navabr">
  <nav class="navbar navbar-expand-sm navbar-light">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="javascript:;">
            <img src="./assets/images/icons/home.svg" alt="" class="ic-home">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;">
            {{ 'header.aboutTheEmirate' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;">
            {{ 'header.lordsOfTheRegion' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;">
            {{ 'header.provinces' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;">
            {{ 'header.electronicServices' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;">
            {{ 'header.news' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;">
            {{ 'header.mediaReports' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;">
            <img src="./assets/images/icons/open-data.svg" alt="" class="ic-open-data">
            {{ 'header.openData' | translate }}
          </a>
        </li>
        <li class="nav-item search">
          <a class="nav-link" href="javascript:;">
            <img src="./assets/images/icons/header-search.svg" alt="" class="ic-search">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link settings" href="javascript:;">
            <img src="./assets/images/icons/settings.svg" alt="" class="ic-settings">
          </a>
        </li>
      </ul>
      <div class="head-vision">
        <img src="./assets/images/header-vision.svg" alt="">
      </div>
    </div>
  </nav>
</header>
