<p-toast></p-toast>

<div class="auth-card">
  <div class="auth-head">
    <div class="flex_row">
      <a href="#">
        <img src="assets/images/logo.svg" alt="" class="log-logo" width="180">
      </a>
      <button class="btn btn-sm btn-primary lang-btn">English</button>
    </div>
  </div>
  <div class="w-100">
    <h4 class="title">
      {{translationData.auth.signIn.signIn | translate}}
    </h4>

    <!-- Form -->
    <div class="row mx-0">
      <div class="col-md-8 mx-auto">

        <form [formGroup]="loginForm" (ngSubmit)="formSubmit()" class="fs-13px">
              <!-- ID -->
              <div class="form-group mb-lg-4">
                <input type="text" name="" id="national_ID" class="form-control" formControlName="userName">
                <label for="national_ID" class="label">
                  {{translationData.auth.signIn.nationalIdOrResidentNumber | translate}}
                </label>
              </div>
              <!-- password -->
              <div class="form-group">
                <input type="password" name="" id="password" class="form-control" formControlName="password">
                <label for="password" class="label">
                  {{translationData.auth.signIn.password | translate}}
                </label>
              </div>
              <!-- Forget Password -->
              <div class="">
                <a [routerLink]="['/auth/forgot-password']" routerLinkActive="router-link-active" >
                  <span class="forget-pass" >
                    {{translationData.auth.signIn.forgetPassword | translate}}
                  </span>
                </a>
              </div>

              <!-- Login Button -->
              <div class="">
                <button type="submit" class="btn btn-primary submit">{{translationData.auth.signIn.signIn | translate}}</button>
              </div>
        </form>

        <!-- Have Account -->
        <div class="mt-4">
          <span class="">
            {{translationData.auth.signIn.dontHaveAccount | translate}}
          </span>
          <a [routerLink]="['/auth/register']">
            <span class="primary-text">
              {{translationData.auth.signIn.createNewAccount | translate}}
            </span>
          </a>
        </div>

        <div class="or">
          <span class="">
            {{translationData.auth.signIn.or | translate}}
          </span>
        </div>

        <a href="#">
          <div class="unifyied-login">
            <img src="./assets/images/NIC_logo.png" alt="" width="200">
            <span>
              {{translationData.auth.signIn.nafazSingIn | translate}}
            </span>
          </div>
        </a>

      </div>
    </div>

  </div>
</div>
