<p-toast></p-toast>

<div class="auth-card">
  <div class="auth-head">
    <div class="flex_row">
      <a href="#">
        <img src="assets/images/logo.svg" alt="" class="log-logo" width="180">
      </a>
      <button class="btn btn-sm btn-primary lang-btn">English</button>
    </div>
  </div>
  <div class="w-100">
    <h4 class="title">حساب جديد</h4>

    <!-- Form -->
    <div class="row mx-0">
      <div class="col-md-8 mx-auto">
        <form #f="ngForm" [formGroup]="registerationForm" (ngSubmit)="formSubmit()" class="fs-13px">

              <!-- ID -->
              <div class="form-group mb-lg-4">
                <input type="text" name="" id="national_ID" class="form-control" required  formControlName="userName">
                <label for="national_ID" class="label">رقم الهوية/الإقامة</label>
              
                  <div *ngIf="registerationForm.controls['userName'].invalid && (registerationForm.controls['userName'].dirty || registerationForm.controls['userName'].touched)" class="text-danger">
                    <div *ngIf="registerationForm.controls['userName'].errors?.required">
                      رقم الهوية / الاقامة مطلوب
                    </div>
                    <div *ngIf="registerationForm.controls['userName'].errors?.['pattern']">
                      رقم الهوية / الاقامة يبدأ ب 1 او 2 و يتكون من 10 ارقام 
                    </div>
                  </div>
              </div>

              <!-- username -->
              <div class="form-group mb-lg-4">
                <input type="text" name="" id="username" class="form-control" required formControlName="name">
                <label for="username" class="label">الاسم </label>
                <div *ngIf="registerationForm.controls['name'].invalid && (registerationForm.controls['name'].dirty || registerationForm.controls['name'].touched)" class="text-danger">
                  <div *ngIf="registerationForm.controls['name'].errors?.required">
                    الاسم مطلوب
                  </div>
                </div>
              </div>

              <!-- nationality -->
              <div class="form-group mb-lg-4">
                <select  id="nationalities" class="form-control" required>
                  <option *ngFor="let item of nationalities" [value]="item">{{item}}</option>
                </select> 
                <label for="nationalities" class="label">الجنسية </label>
                <div *ngIf="registerationForm.controls['name'].invalid && (registerationForm.controls['name'].dirty || registerationForm.controls['name'].touched)" class="text-danger">
                  <div *ngIf="registerationForm.controls['name'].errors?.required">
                    الاسم مطلوب
                  </div>
                </div>
              </div>

              <!-- birthdate -->
              <div class="form-group mb-lg-4">
                <hijri-gregorian-datepicker id="birthdate" [placeHolder]="'سنة/شهر/يوم'"
                    [(selectedDate)]="date"
                    [isRequired]="true"
                    [GregLabel]="'ميلادي'"
                    [hijriLabel] ="'هجري'"
                    [minGreg] = 'minGreg'
                    [maxGreg] = 'maxGreg'
                    [minHijri] = 'minHigriDate'
                    [maxHijri] = 'maxHigriDate'
                    [selectedDateType]="selectedDateType"
                    [disabled]="isDisabled"
                    [readonly]="isReadOnly"
                    #datePicker>
                </hijri-gregorian-datepicker>
              <label for="birthdate" class="label">تاريخ الميلاد </label>

            </div>

              <!-- phone -->
              <div class="form-group mb-lg-4">
                <input type="text" name="" id="phone" class="form-control" required formControlName="phoneNumber">
                <label for="phone" class="label">رقم الجوال</label>
                <div *ngIf="registerationForm.controls['phoneNumber'].invalid && (registerationForm.controls['phoneNumber'].dirty || registerationForm.controls['phoneNumber'].touched)" class="text-danger">
                  <div *ngIf="registerationForm.controls['phoneNumber'].errors?.required">
                    رقم الجوال مطلوب
                  </div>
                  <div *ngIf="registerationForm.controls['phoneNumber'].errors?.['pattern']">
                    رقم الجوال يبدأ ب 966 و يتكون من 12 رقم 
                  </div>
                </div>
              </div>


          <!-- Email -->
          <div class="form-group mb-lg-4">
            <input type="text" name="" id="email" class="form-control" required formControlName="email">
            <label for="email" class="label">البريد الالكتروني</label>
            <div *ngIf="registerationForm.controls['email'].invalid && (registerationForm.controls['email'].dirty || registerationForm.controls['email'].touched)" class="text-danger">
              <div *ngIf="registerationForm.controls['email'].errors?.required">
                البريد الالكتروني مطلوب
              </div>
              <div *ngIf="registerationForm.controls['email'].errors?.['pattern']">
                يجب إدخال بريد الالكتروني بشكل صحيح
              </div>
            </div>
          </div>

          <!-- password -->
          <div class="form-group">
            <input type="password" name="" id="password" class="form-control" required formControlName="password">
            <label for="password" class="label">كلمة المرور</label>

            <div *ngIf="registerationForm.controls['password'].invalid && (registerationForm.controls['password'].dirty || registerationForm.controls['password'].touched)" class="text-danger">
              <div *ngIf="registerationForm.controls['email'].errors?.required">
                كلمة المرور مطلوب
              </div>
              <div *ngIf="registerationForm.controls['password'].errors?.['pattern']">
                كلمة المرور يجب ان تحتوي علي حروف كبيرة و حروف صغيرة وارقام و حروف خاصة               
              </div>
            </div>
          </div>

          <!-- Login Button -->
          <div class="">
            <button type="submit" class="btn btn-primary submit" [disabled]="registerationForm.status == 'INVALID'">إنشاء حساب</button>
          </div>

        </form>

        <!-- Have Account -->
        <div class="mt-4">
          <span class=""> لديك حساب سابق؟</span>
          <a [routerLink]="['/auth/login']">
            <span class="primary-text"> العودة إلي تسجل الدخول </span>
          </a>
        </div>

        
        <!--<p>Form Values : {{ registerationForm.value | json }}</p>
        <p>Form Status: {{ registerationForm.status }}</p>-->

      </div>
    </div>

  </div>
</div>