<p-toast></p-toast>

<div class="auth-card">
  <div class="auth-head">
    <div class="flex_row">
      <a href="#">
        <img src="assets/images/logo.svg" alt="" class="log-logo" width="180">
      </a>
      <button class="btn btn-sm btn-primary lang-btn">English</button>
    </div>
  </div>
  <div class="w-100">
    <h4 class="title">حساب جديد</h4>

    <!-- Form -->
    <div class="row mx-0">
      <div class="col-md-8 mx-auto">
        <form #f="ngForm" [formGroup]="registerationForm" (ngSubmit)="formSubmit()" class="fs-13px">

          <!-- username -->
          <div class="form-group mb-lg-4">
            <input type="text" name="" id="national_ID" class="form-control" required formControlName="userName">
            <label for="national_ID" class="label">رقم الهوية/الإقامة</label>
          </div>

          <!-- Full Name -->
          <div class="form-group mb-lg-4">
            <input type="text" name="" id="username" class="form-control" required formControlName="name">
            <label for="username" class="label">اسم المستخدم</label>
          </div>

          <!-- <div class="row mx-0"> -->
          <!-- phone -->
          <!-- <div class="col-md-6 pr-0"> -->
          <div class="form-group mb-lg-4">
            <input type="text" name="" id="phone" class="form-control" required formControlName="phoneNumber">
            <label for="phone" class="label">رقم الجوال</label>
          </div>
          <!-- </div> -->
          <!-- <div class="col-md-6 pl-0"> -->
          <!-- Date of Birth -->
          <div class="form-group mb-lg-4 dob">
            <input type="text" name="" id="dob" class="form-control" required formControlName="dob">
            <label for="dob" class="label">تاريخ الميلاد</label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">التاريخ الميلادي</label>
            </div>
          </div>
          <!-- </div> -->
          <!-- </div> -->

          <!-- Email -->
          <div class="form-group mb-lg-4">
            <input type="text" name="" id="email" class="form-control" required formControlName="email">
            <label for="email" class="label">البريد الالكتروني</label>
          </div>

          <!-- password -->
          <div class="form-group">
            <input type="password" name="" id="password" class="form-control" required formControlName="password">
            <label for="password" class="label">كلمة المرور</label>
          </div>

          <!-- Login Button -->
          <div class="">
            <button type="submit" class="btn btn-primary submit">إنشاء حساب</button>
          </div>

        </form>

        <!-- Have Account -->
        <div class="mt-4">
          <span class=""> لديك حساب سابق؟</span>
          <a [routerLink]="['/auth/login']">
            <span class="primary-text"> العودة إلي تسجل الدخول </span>
          </a>
        </div>

      </div>
    </div>

  </div>
</div>